.container {
    margin-bottom: 300px;
    overflow: auto;
}

a {
    color: #1C5017;
    text-decoration: none;
    cursor: pointer;
}


b {
    font-weight: 800;
    color: #185B12;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 25px;
    color: #185B12;
    margin-bottom: 50px;
}

.FirstCollumn {
    width: calc(50% - 100px);
    float: left;
    vertical-align: top;
    box-sizing: border-box;
    overflow: hidden;
}

.FirstCollumn p,
.SecondCollumn p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
}

.SecondCollumn {
    float: left;
    margin-left: 200px;
    width: calc(50% - 100px);
    vertical-align: top;
}

#mockup {
    margin-top: 150px;
    width: 80%;
}

#second .FirstCollumn {
    float: right;
    padding: 0;
    width: calc(50% - 100px);
}

p a:hover {
    text-decoration: underline;
}

#destaque {
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #185B12;
    line-height: 30px;
    margin-bottom: 30px;
}

#date {
    font-weight: 300;
    font-size: 16px;
}

#course {
    font-size: 16px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 5px;
}

h4 {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #185B12;
    margin-bottom: 10px;
}

#info {
    margin-top: 50px;
    position: relative;
    overflow: visible;
}

#info h4 {
    margin-bottom: 20px;
    margin-top: -10px;
}

#info p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

#info p:last-of-type {
    margin-bottom: -6px;
}

#info div {
    border-left: 2px solid #185B12;
    margin-left: 9px;
    margin-bottom: 10px;
}

#info img {
    width: 15px;
    margin-left: -9px;
    margin-right: 10px;
}

#Software {
    float: left;
    width: calc(42%);
}


#second .SecondCollumn {
    margin-left: 0;

}

#second .SecondCollumn img {
    width: 100%;
    vertical-align: top;
    border-radius: 25px;
}

#third .SecondCollumn img {
    width: 100%;
}

#fourth .FirstCollumn img {
    width: 60%;
    margin-top: 215px;
}

#fourth .SecondCollumn img {
    width: 100%;
    margin-top: 100px;
}

#fifth {
    overflow: hidden;
}

#fifth img,
#seventh img {
    width: calc((100% - 100px) / 3);
    margin-right: 46px;
    margin-bottom: 3%;
    border-radius: 20px;
}

#seventh img:nth-child(4),
#seventh img:nth-child(7),
#seventh img:nth-child(10) {
    margin-right: 0px;
}

#fifth img:nth-child(4),
#fifth img:nth-child(7) {
    margin-right: 0px;
}

#sixth p {
    width: calc(50% - 50px);
}

#one {
    width: calc(50% - 50px);
    float: left;
}

#one p {
    width: 100%;
}

#two p img {
    width: 18px;
    margin-bottom: -3px;
    margin-left: 6px;
    opacity: 0.5;
}

#two {
    width: calc(50% - 50px);
    margin-left: 100px;
}

#sixth p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
}

#sixth div {
    margin-top: 200px;
    float: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
}

#two p {
    font-weight: 300;
    width: 100%;
}

#three p {
    width: 100%;
}

#two iframe {
    width: calc(40vw - 50px);
    height: calc(22.5vw - 28.12px);
    margin-bottom: 20px;
}

#three img {
    width: 100%;
    margin-top: 50px;
    border-radius: 20px;
}

#three .SecondCollumn img {
    margin-top: 110px;
}

#seventh {
    padding-bottom: 100px;
}


/* Small devices (Mobile) */
@media only screen and (max-width: 480px) {
    #first {
        overflow: hidden;
    }

    main {
        padding-top: 200px;
    }

    #first .SecondCollumn,
    #second .SecondCollumn,
    #third .SecondCollumn,
    #fourth .SecondCollumn {
        width: 100%;
        margin-left: 0;
        margin-top: 0px;
    }

    #second .SecondCollumn,
    #third .SecondCollumn {
        margin-top: 50px;
    }

    #first .FirstCollumn,
    #second .FirstCollumn,
    #third .FirstCollumn,
    #fourth .FirstCollumn {
        width: 100%;
        float: none;
    }

    #fourth .FirstCollumn img,
    #fourth .SecondCollumn img {
        margin-top: 50px;
        width: 100%;
    }

    #fourth .SecondCollumn {
        margin-top: 100px;
    }

    #mockup {
        margin-top: 0;
        width: 100%;
    }

    #software {
        min-width: 150px;
    }

    #first .FirstCollumn,
    #second .FirstCollumn {
        width: 100%;
        float: right;
    }

    #info div:first-child {
        margin-bottom: 60px;
    }

    #second {
        width: 100%;
        margin-left: 0;
    }

    .container {
        margin-bottom: 100px;
    }

    .next,
    h2 {
        display: none;
    }

    .book {
        display: none;
    }

    #fifth img,
    #seventh img {
        width: 100%;
        margin-bottom: 50px;
        border-radius: 20px;
    }

    #sixth p,
    #one,
    #two,
    #three {
        width: 100%;
        margin: 0;
    }

    #sixth div {
        margin-top: 60px;
    }

    #sixth .FirstCollumn,
    #sixth .SecondCollumn {
        width: 100%;
        margin-left: 0;

    }

    #sixth .SecondCollumn {
        margin-top: 100px;
    }

    #three .SecondCollumn img {
        margin-top: 50px;
    }

    #two iframe {
        width: 80vw;
        height: 45vw;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    #first {
        overflow: hidden;
    }

    main {
        padding-top: 200px;
    }

    #first .SecondCollumn,
    #second .SecondCollumn,
    #third .SecondCollumn,
    #fourth .SecondCollumn {
        width: 100%;
        margin-left: 0;
        margin-top: 0px;
    }

    #second .SecondCollumn,
    #third .SecondCollumn {
        margin-top: 50px;
    }

    #first .FirstCollumn,
    #second .FirstCollumn,
    #third .FirstCollumn,
    #fourth .FirstCollumn {
        width: 100%;
        float: none;
    }

    #fourth .FirstCollumn img,
    #fourth .SecondCollumn img {
        margin-top: 50px;
        width: 100%;
    }

    #fourth .SecondCollumn {
        margin-top: 100px;
    }

    #mockup {
        margin-top: 0;
        width: 100%;
    }

    #software {
        min-width: 150px;
    }

    #first .FirstCollumn,
    #second .FirstCollumn {
        width: 100%;
        float: right;
    }

    #info div:first-child {
        margin-bottom: 60px;
    }

    #second {
        width: 100%;
        margin-left: 0;
    }

    .container {
        margin-bottom: 100px;
    }

    .next,
    h2 {
        display: none;
    }

    .book {
        display: none;
    }

    #sixth {
        overflow: hidden;
    }

    #fifth img,
    #seventh img {
        width: 100%;
        margin-bottom: 50px;
        border-radius: 20px;
    }

    #sixth p,
    #one,
    #two,
    #three {
        width: 100%;
        margin: 0;
        overflow: hidden;
    }

    #sixth div {
        margin-top: 60px;
    }

    #sixth .FirstCollumn,
    #sixth .SecondCollumn {
        width: 100%;
        margin-left: 0;

    }

    #sixth .SecondCollumn {
        margin-top: 100px;
    }

    #three .SecondCollumn img {
        margin-top: 50px;
    }

    #two iframe {
        width: 80vw;
        height: 45vw;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    main {
        padding-top: 200px;
    }

    #mockup {
        margin-top: 0;
        width: 80%;
    }

    #fourth .FirstCollumn img,
    #fourth .SecondCollumn img {
        margin-top: 50px;
        width: 100%;
    }


    #first .SecondCollumn,
    #second .SecondCollumn,
    #third .SecondCollumn,
    #fourth .SecondCollumn {
        width: 80%;
        margin-left: 10%;
        margin-top: 0px;
    }

    #fourth .SecondCollumn {
        margin-top: 100px;
    }

    #second .SecondCollumn,
    #third .SecondCollumn {
        margin-top: 50px;
    }


    #first .FirstCollumn,
    #second .FirstCollumn,
    #third .FirstCollumn,
    #fourth .FirstCollumn {
        width: 80%;
        float: none;
        margin-left: 10%;
    }



    #info div:first-child {
        margin-bottom: 60px;
    }

    #second {
        width: 100%;
        margin-left: 0;
    }

    .container {
        margin-bottom: 100px;
    }


    .next {
        display: none;
    }

    #fifth img,
    #seventh img {
        width: calc((100% - 30px) / 2);
        margin-right: 26px;
        margin-bottom: 50px;
        border-radius: 20px;
    }

    #fifth img:nth-child(3),
    #fifth img:nth-child(5),
    #seventh img:nth-child(3),
    #seventh img:nth-child(5),
    #seventh img:nth-child(8),
    #seventh img:nth-child(9) {
        margin-right: 0;
    }

    #fifth img:nth-child(4),
    #seventh img:nth-child(4),
    #seventh img:nth-child(8) {
        margin-right: 26px;
    }

    #sixth {
        width: 80%;
        margin-left: 10%;
    }

    #sixth p,
    #one,
    #two,
    #three {
        width: 100%;
        margin: 0;
        overflow: hidden;
    }

    #sixth div {
        margin-top: 60px;
    }

    #sixth .FirstCollumn,
    #sixth .SecondCollumn {
        width: 100%;
        margin-left: 0;

    }

    #sixth .SecondCollumn {
        margin-top: 100px;
    }

    #three .SecondCollumn img {
        margin-top: 50px;
    }

    #two iframe {
        width: 64vw;
        height: 36vw;
        margin-bottom: 20px;
    }
}

/* Medium devices (Tablet-portrait (and larger)) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    #first {
        overflow: hidden;
    }

    main {
        padding-top: 200px;
    }

    #first .SecondCollumn,
    #second .SecondCollumn,
    #third .SecondCollumn,
    #fourth .SecondCollumn {
        width: 70%;
        margin-top: -0px;
        margin-left: 15%;
        margin-top: 50px;

    }

    #mockup {
        margin-top: 0;
        width: 80%;
        margin-left: 10%;
    }

    #first .FirstCollumn,
    #second .FirstCollumn,
    #third .FirstCollumn,
    #fourth .FirstCollumn {
        width: 70%;
        max-width: 700px;
        float: none;
        margin-left: 15%;
    }

    #info div:first-child {
        margin-bottom: 60px;
    }

    #second {
        width: 100%;
        margin-left: 0;
    }

    .container {
        margin-bottom: 100px;
    }

    #fourth .SecondCollumn {
        margin-top: 100px;
    }

    #fourth .FirstCollumn img,
    #fourth .SecondCollumn img {
        margin-top: 50px;
        width: 100%;
    }

    #fifth img,
    #seventh img {
        width: calc((100% - 30px) / 2);
        margin-right: 26px;
        margin-bottom: 50px;
        border-radius: 20px;
    }

    #fifth img:nth-child(3),
    #fifth img:nth-child(5),
    #seventh img:nth-child(3),
    #seventh img:nth-child(5),
    #seventh img:nth-child(8),
    #seventh img:nth-child(9) {
        margin-right: 0;
    }

    #fifth img:nth-child(4),
    #seventh img:nth-child(4),
    #seventh img:nth-child(8) {
        margin-right: 26px;
    }

    #one,
    #two,
    #three {
        width: 100%;
        margin: 0;
        margin-left: 0;
    }

    #sixth {
        width: 70%;
        margin-left: 15%;
        overflow: hidden;
    }

    #sixth p {
        width: 100%;
    }

    #sixth div {
        margin-top: 60px;

    }

    #sixth .FirstCollumn,
    #sixth .SecondCollumn {
        width: 100%;
        margin-left: 0%;

    }

    #sixth .SecondCollumn {
        margin-top: 100px;
    }

    #three .SecondCollumn img {
        margin-top: 50px;
    }

    #two iframe {
        width: 56vw;
        height: 31.5vw;
        margin-bottom: 20px;
    }

}

/* Medium devices (Tablet-portrait (and larger)) */
@media only screen and (min-width: 1201px) and (max-width: 1500px) {

    #first .SecondCollumn {
        width: calc(50% - 50px);
        margin-left: 50px;
    }

    #second .SecondCollumn {
        width: 50%;
    }

    #third .FirstCollumn {
        width: calc(50% - 50px);
        margin-right: 50px;
    }

    #third .SecondCollumn,
    #second .FirstCollumn {
        width: calc(50% - 50px);
        margin-left: 0;

    }

    #third .FirstCollumn {
        width: 50%;
    }

    #mockup {
        width: 100%;
    }

    #first .FirstCollumn {
        width: 50%;
    }

    #fourth .SecondCollumn {
        margin-left: 50px;
        width: calc(50% - 50px);
    }

    #fourth .FirstCollumn {
        margin-right: 50px;
        width: calc(50% - 50px);
    }

    #seventh,
    #sixth {
        overflow: hidden;
    }

    #sixth div .SecondCollumn {
        margin-left: 100px;

    }

    #sixth .SecondCollumn,
    #sixth .FirstCollumn {
        width: calc(50% - 50px);
    }
}
