#timeline a {
    color: black;
    text-decoration: underline;
}

#timeline a:hover {
    font-style: italic;
}

.container {
    width: 300px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 7px;
    border: 2px solid #185B12;
    border-radius: 20px;
    margin-right: 50px;
    top: 0px;
    opacity: 1;
}

#portrait {
    width: 100%;
    border-radius: 15px;
}

#firstcollumn {
    position: relative;
    width: 400px;
    display: inline-block;
    vertical-align: top;
    top: 0px;
    margin-bottom: 100px;
    margin-right: 70px;
    box-sizing: border-box;
}

#bio {
    position: relative;
    width: 100%;
    opacity: 1;
    top: 0px;
}

#bio p:first-of-type {
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 25px;
    max-width: 520px;
}

#bio p:first-of-type span {
    color: #185B12;
}

#bio p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 12px;
}

#bio p:last-of-type {
    margin-bottom: 50px;
}

h2 {
    pointer-events:none !important;
    
}

h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 20px;
    color: #185B12;
    margin-bottom: 18px;
}

#contacts {
    width: 100%;
    position: absolute;
    user-select: none;
    opacity: 1;
}

#contacts a {

    width: 47.5%;
    text-align: center;
    font-weight: 400;

    padding-top: 6px;
    padding-bottom: 6px;

    color: #185B12;
    border-radius: 50px;
    border: 2px solid #185B12;

    display: inline-block;
}

#contacts ul a:nth-child(1),
#contacts ul a:nth-child(3) {
    margin-right: 2%;
}

#contacts ul a:nth-child(3),
#contacts ul a:nth-child(4) {
    margin-top: 2%;
}

#contacts a:hover {
    text-decoration: underline;
    color: #185B12;
}

#secondcollumn {
    display: inline-block;
    vertical-align: Top;
    position: Relative;
    width: 30%;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 20px;
}

#languages,
#software,
#programming {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    opacity: 1;
    box-sizing: border-box;
    width: calc((100% - 66px)/3);
}

#languages {
    margin-left: 0;
}

#languages li:first-child {
    margin-top: 15px;
    margin-bottom: 4px;
    font-weight: 400;
}

#languages li {
    font-weight: 300;
}

#software li:first-child {
    margin-top: 15px;
}

#software li,
#programming li {
    margin-bottom: 7px;
}

.tl {
    opacity: 1;
}

.tl,
.about {
    width: 40px;
    cursor: pointer;
    position: fixed;
    right: 5%;
    bottom: 100px;
    opacity: 1;
}

figcaption {
    position: fixed;
    font-size: 13px;
    text-align: center;
    width: 40px;
    color: #185B12;
    font-style: italic;
    right: 5%;
    bottom: 80px;
    user-select: none;
    opacity: 1;
}

#timeline {
    margin-top: 250px;
    padding-bottom: 200px;

}

table {
    border-collapse: separate;
    opacity: 1;
    width: 100%;

}

th,
td {
    border: 1px solid #185B12;
    border-width: 0px 0px 0px 2px;
    padding-left: 30px;
    padding-right: 50px;

}

td:last-of-type,
th:last-of-type {
    padding-right: 0;
}


#empty {
    border: 0px solid #185B12;
    border-width: 0px 0px 0px 0px;
}

table img {
    margin-left: -41px;
    width: 19px;
    padding-right: 21px;
}

#circle {
    width: 18px;
    margin-left: -40.5px;
    padding-right: 22px;
}

#date th {
    border: 2px solid #185B12;
    border-width: 0px 0px 2px 0px;
    text-align: left;
    color: #185B12;
    font-size: 16px;
    padding-bottom: 10px;
}

#CourseName td {
    padding-top: 15px;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    padding-bottom: 11px;
}

#Course td {
    font-size: 18px;
    padding-bottom: 6px;
}

#Intitution td {
    font-size: 18px;
    font-weight: 300;
}

#secundaryDate td {
    color: #185B12;
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 40px;
}

#secundaryProject td {
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    padding-bottom: 9px;
}

#ProjectDesc td {
    font-size: 15px;
    padding-top: 0px;
}

#secundaryInstitution td {
    font-size: 15px;
    font-weight: 300;
    padding-top: 7px;
}

/* Small devices (Mobile) */
@media only screen and (max-width: 480px) {
 main {
        padding-top: 150;
    }

    .container {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 50px;
    }


    #firstcollumn {
        text-align: center;
        margin-right: 0;
        width: 100%;
    }

    #contacts {
        width: 100%;
    }
    
    #contacts ul a:nth-child(1), #contacts ul a:nth-child(3){
        margin-right:0;
    }

    #bio p:last-of-type {
        margin-bottom: 50px;
    }

    #secondcollumn {
        width: 100%;
        text-align:center;
        margin-left: 0;
    }

    #languages {
        display: none;
    }

    #programming,
    #software {
        margin-top: 50px;
        width: 49%;
        margin-left: 0;
        margin-bottom: 100px;
    }

    #timeline,
    .about,
    .tl,
    figcaption {
        display: none;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px)    {
    main {
        padding-top: 150;
    }

    .container {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 50px;
    }


    #firstcollumn {
        text-align: center;
        margin-right: 0;
        width: 100%;
    }

    #contacts {
        width: 100%;
    }

    #bio p:last-of-type {
        margin-bottom: 50px;
    }

    #secondcollumn {
        width: 100%;
        text-align:center;
        margin-left: 0;
    }

    #languages {
        display: none;
    }

    #programming,
    #software {
        margin-top: 50px;
        width: 49%;
        margin-left: 0;
        margin-bottom: 100px;
    }

    #timeline,
    .about,
    .tl,
    figcaption {
        display: none;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        width: 220px;
        height: 355px;
        margin-right: 20px;
        overflow: hidden;
    }

    #portrait {
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    #firstcollumn {
        margin-right: 0;
        width: 350px;
    }

    #contacts {
        width: 600px;
        margin-left: -240px;
    }

    #bio p:last-of-type {
        margin-bottom: 50px;
    }

    #secondcollumn {
        width: 620px;
        margin-top: 50px;
         text-align:center;
    }

    #CourseName td {
        font-size: 18.9px;
    }

    #Course td,
    #Intitution td {
        font-size: 14px;
    }

    #secundaryProject td {
        font-size: 17px;
    }

    #secundaryInstitution td,
    #Projectdesc td {
        font-size: 13px;
    }

    #secundaryDate td {
        font-size: 14px;
        padding-top: 30px;
    }

    table img {
        margin-left: -26px;
        padding-right: 6px;
    }

    #circle {
        margin-left: -25.5px;
        padding-right: 8;
    }

    th,
    td {
        margin-left: 15px;
        padding-left: 15px;
    }

    .about,
    .tl,
    figcaption {
        display: none;
    }
}


/* Medium devices (Tablet-portrait (and larger)) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .container {
        width: 260px;
        margin-right: 50px;
    }

    #firstcollumn {
        margin-right: 0;
        width: 490px;
    }

    #bio {
        width: 490px;
    }

    #bio p:last-of-type {
        margin-bottom: 38px;
    }

    #timeline {
        margin-top: 150px;
    }

    #secondcollumn {
        width: 800px;
        margin-top: 50px;
         text-align:center;
    }

    #CourseName td {
        font-size: 18.9px;
    }

    #Course td,
    #Intitution td {
        font-size: 14px;
    }

    #secundaryProject td {
        font-size: 17px;
    }

    #secundaryInstitution td,
    #Projectdesc td {
        font-size: 13px;
    }

    #secundaryDate td {
        font-size: 14px;
        padding-top: 30px;
    }

    table img {
        margin-left: -26px;
        padding-right: 6px;
    }

    #circle {
        margin-left: -25.5px;
        padding-right: 8;
    }

    th,
    td {
        margin-left: 15px;
        padding-left: 15px;
    }

    table {}


}

/* Medium devices (Tablet-portrait (and larger)) */
@media only screen and (min-width: 1201px) and (max-width: 1500px) {
    .container {
        width: 290px;
        margin-right: 50px;
    }

    #firstcollumn {
        margin-right: 0;
        width: 600px;
    }

    #bio p:last-of-type {
        margin-bottom: 107px;
    }

    #secondcollumn {
        width: 950px;
        margin-top: 100px;
         text-align:center;
    }

    #CourseName td {
        font-size: 18.9px;
    }

    #Course td,
    #Intitution td {
        font-size: 14px;
    }

    #timeline {
        margin-top: 150px;
    }

    #secundaryProject td {
        font-size: 17px;
    }

    #secundaryInstitution td,
    #Projectdesc td {
        font-size: 13px;
    }

    #secundaryDate td {
        font-size: 14px;
        padding-top: 30px;
    }

    table img {
        margin-left: -26px;
        padding-right: 6px;
    }

    #circle {
        margin-left: -25.5px;
        padding-right: 8;
    }

    th,
    td {
        margin-left: 15px;
        padding-left: 15px;
    }

    table {}


}
