.container {
    margin-bottom: 200px;
    overflow: auto;
}

.container:last-of-type{
   margin-bottom:50px;
}

a {
    color: #1C5017;
    text-decoration: none;
    cursor: pointer;
}


b {
    font-weight: 800;
    color: #185B12;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 25px;
    color: #185B12;
    margin-bottom: 50px;
}

.FirstCollumn {
    width: calc(50% - 100px);
    float: left;
    vertical-align: top;
    box-sizing: border-box;
    overflow: hidden;
}

.FirstCollumn p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
}

.SecondCollumn {
    float: left;
    margin-left: 200px;
    width: calc(50% - 100px);
    vertical-align: top;
}

#mockup {
    width: 100%;
    border-radius: 25px;
}

#second .FirstCollumn {
    float: right;
    padding: 0;
    width: calc(50% - 100px);
}

p a:hover {
    text-decoration: underline;
}

#destaque {
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #185B12;
    line-height: 30px;
    margin-bottom: 30px;
}

#date {
    font-weight: 300;
    font-size: 16px;
}

#course {
    font-size: 16px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 5px;
}

h4 {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #185B12;
    margin-bottom: 10px;
}

#info {
    margin-top: 50px;
    position: relative;
    width: 100%;
}

#info h4 {
    margin-top: -10px;
    margin-bottom: 20px;
}

#info p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

#info p:last-of-type {
    margin-bottom: -6px;
}

#info div {
    border-left: 2px solid #185B12;
    margin-left: 9px;
    margin-bottom: 10px;
}

#info img {
    width: 15px;
    margin-left: -9px;
    margin-right: 10px;
}

#Software {
    width: calc(42%);
}

#Software,
#Programming {
    float: left;
    margin-right: 8%;
}


#second .SecondCollumn {
    margin-left: 0;

}

#second .SecondCollumn img {
    width: 100%;
    vertical-align: top;
    border-radius: 25px;
}

#third img:first-of-type {
    border-radius: 50px;

}

#third img {
    width: 100%;
    margin-top: 300px;
    mix-blend-mode: darken;

}

#third img:nth-child(2) {
    margin-top: 50px;

}

#third h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

#third {
    padding-bottom: 100px;
}

/* Small devices (Mobile) */
@media only screen and (max-width: 480px) {
    #first {
        overflow: hidden;
    }

    main {
        padding-top: 200px;
    }

    #first .SecondCollumn,
    #second .SecondCollumn {
        width: 100%;
        margin-top: -0px;
        margin-left: 0;
        margin-top: 50px;
    }


    #first .FirstCollumn,
    #second .FirstCollumn {
        width: 100%;
        float: right;
    }

    #info div:first-child {
        margin-bottom: 60px;
    }

    #second {
        width: 100%;
        margin-left: 0;
    }

    .container {
        margin-bottom: 100px;
    }

    #third img:first-of-type {
        border-radius: 30px;
    }

    #third img {
        margin-top: 100px;
    }


    #software {
        min-width: 150px;
    }

    .next,
    h2 {
        display: none;
    }
    
        #Software, #Programming{
        width:100%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    #first {
        overflow: hidden;
    }

    main {
        padding-top: 200px;
    }

    #first .SecondCollumn,
    #second .SecondCollumn {
        width: 100%;
        margin-top: -0px;
        margin-left: 0;
        margin-top: 50px;
    }


    #software {
        min-width: 150px;
    }

    #first .FirstCollumn,
    #second .FirstCollumn {
        width: 100%;
        float: right;
    }

    #info div:first-child {
        margin-bottom: 60px;
    }

    #second {
        width: 100%;
        margin-left: 0;
    }

    .container {
        margin-bottom: 100px;
    }

    #third img:first-of-type {
        border-radius: 30px;
    }

    #third img {
        margin-top: 100px;
    }

    .next,
    h2 {
        display: none;
    }


}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    main {
        padding-top: 200px;
    }


    #first .SecondCollumn,
    #second .SecondCollumn {
        width: 80%;
        margin-top: -0px;
        margin-left: 10%;
        margin-top: 50px;

    }


    #first .FirstCollumn,
    #second .FirstCollumn {
        width: 80%;
        margin-left: 10%;
        float: none;
    }



    #info div:first-child {
        margin-bottom: 60px;
    }

    #second {}

    .container {
        margin-bottom: 100px;
    }

    #third img:first-of-type {
        border-radius: 30px;
    }

    #third img {
        margin-top: 100px;
    }

    .next {
        display: none;
    }
}


/* Medium devices (Tablet-portrait (and larger)) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    #first {
        overflow: hidden;
    }

    main {
        padding-top: 200px;
    }

    #first .SecondCollumn,
    #second .SecondCollumn {
        width: 70%;
        margin-top: -0px;
        margin-left: 15%;
        margin-top: 50px;

    }


    #first .FirstCollumn,
    #second .FirstCollumn {
        width: 70%;
        margin-left: 15%;
        float: none;
    }

    #info div:first-child {
        margin-bottom: 60px;
    }

    #second {
        width: 100%;
        margin-left: 0;
    }

    .container {
        margin-bottom: 100px;
    }

    #third img:first-of-type {
        border-radius: 30px;
    }

    #third img {
        margin-top: 100px;
    }
}

/* Medium devices (Tablet-portrait (and larger)) */
@media only screen and (min-width: 1201px) and (max-width: 1500px) {

    #first .SecondCollumn {
        width: calc(50% - 50px);
        margin-left: 50px;
    }

    #mockup {
        width: 100%;
    }

    #first .FirstCollumn {
        width: 50%;
    }

    #second .FirstCollumn {
        width: calc(50% - 50px);
    }
}
