body {
    background-color: #FFFAF2;
    font-family: 'lato', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    overflow-x: hidden;

}

img {
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::-moz-selection {
    color: #FFFF;
    background: #185B12;
}

::selection {
    color: #FFFF;
    background: #185B12;
}

header {
    position: fixed;
    width: 80%;
    height: 120px;
    border-bottom: 2px solid #185B12;
    background-color: #FFFAF2;
    top: 0;
    z-index: 999;
}

h1 {
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 50px;
    color: #185B12;
    left: 0;
    top: 50px;
    user-select: none;
    cursor: pointer;
}

h1:hover,
h2:hover {
    font-style: italic;

}

h2 {
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 35px;
    color: #185B12;
    right: 0;
    user-select: none;
    top: 64px;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
}

a {
    color: #1C5017;
    text-decoration: none;
    cursor: pointer;
}

main {
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 250px;
    opacity: 0;
     overflow-x: hidden;
}

#menu {
    position: Relative;
    height: 100%;
    width: 400px;
    top: 0;
    left: -402px;
    position: fixed;
    z-index: 1000;
    background-color: #FFFAF2;
    border-right: 2px solid #185B12;
}

#aba img {
    height: 20px;
}

#aba {
    width: 60px;
    background-color: #FFFAF2;
    border: 2px solid #185B12;
    border-radius: 0px 50px 50px 0px;
    box-sizing: border-box;
    border-right: 2px solid #185B12;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;

    position: absolute;
    right: -60px;
    top: 50px;
    cursor: pointer;
    z-index: 9999;
    opacity:0;
}

#menu ul {
    width: 70%;
    margin-left: 10%;
    padding-top: 80px;
    border-left: 2px solid #185B12;
    padding-bottom: 900px;
}

#menu ul li {
    font-family: 'Playfair Display', serif;
    color: #185B12;
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 30px;

}

#menu ul li:hover {
    font-style: italic;
    font-weight: 700;
}

#menu span {
    margin-right: 15px;
    margin-left: -10px;
}

#menu ul li:first-child span,
#menu ul li:last-child span {

    margin-right: 12px;
    margin-left: -13px;
}

#opened {
    font-weight: 700;
    pointer-events: none;
    cursor: auto;
}

#menu ul img {
    width: 18px;
}

#menu ul li:first-child img,
#menu ul li:last-child img {
    width: 22px;
}

#menu ul li:first-child:hover,
#menu ul li:last-child:hover {
    font-weight: 700;
}

#menu ul li:first-child,
#menu ul li:last-child {
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

#fill {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFAF2;
    width: 100%;
    height: 100%;
    opacity: 0%;
    z-index: 999;
    display: none;
}

.next {
    width: 40px;
    cursor: pointer;
    position: fixed;
    right: 3%;
    bottom: 100px;
    opacity: 0;
}

footer {
    font-size: 11px;
    position: fixed;
    bottom: 5px;
    opacity: 1;

    width: 80%;
    height: 25px;
    padding-top: 7px;
    box-sizing: border-box;
    border-top: 1px solid #000;
    background-color: #FFFAF2;
    z-index: 10;
}

#hideF {
    position: fixed;
    bottom: 0;
    left: -10%;
    width: 120%;
    height: 30px;
    background-color: #FFFAF2;
    z-index: 0;
}

#hideH {
    position: fixed;
    top: 0;
    left: -10%;
    width: 110%;
    height: 120px;
    background-color: #FFFAF2;
    z-index: 10;

}

@media only screen and (max-width: 480px) {

    #aba {
        width: 33px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 7px;
        padding-bottom: 7px;
        right: -33px;
        top: 55px;
    }

    #aba img {
        height: 13px;
    }

    #menu {
        width: 310px;
        left: -312px;
    }

    #menu ul {
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        box-sizing: border-box;
    }

    #menu ul li,
    #menu ul li {
        font-size: 19px;

    }

    #hideH {
        height: 100px;
    }

    header {
        height: 100px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        display: none;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    #aba {
        width: 40px;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 7px;
        padding-bottom: 7px;
        right: -40px;
        top: 52px;
    }

    #aba img {
        height: 14px;
    }

    #menu {
        width: 310px;
        left: -312px;
    }

    #menu ul {
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        box-sizing: border-box;
    }

    #menu ul li,
    #menu ul li {
        font-size: 19px;

    }

    #hideH {
        height: 100px;
    }

    header {
        height: 100px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 25px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #aba {
        width: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        right: -50px;
        z-index: -1;
        top: 52px;
    }

    #aba img {
        height: 17px;
    }

    #hideH {
        height: 100px;
    }

    header {
        height: 100px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 25px;
    }
}


/* Medium devices (Tablet-portrait (and larger)) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    #aba {
        width: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        right: -50px;
        z-index: -1;
        top: 52px;
    }

    #aba img {
        height: 18px;
    }

    #hideH {
        height: 110px;
    }

    header {
        height: 110px;
    }

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 30px;
    }
}

/* Medium devices (Tablet-portrait (and larger)) */
@media only screen and (min-width: 1201px) and (max-width: 1500px) {
    #aba {
        width: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        right: -50px;
        z-index: -1;
        top: 52px;
    }

    #aba img {
        height: 18px;
    }

    #hideH {
        height: 110px;
    }

    header {
        height: 110px;
    }

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 30px;
    }
}
